@charset "utf-8"; //设置中文字符

//section_top23的头部
.section_top{       //盒子头部分类
    height: 46px;
    line-height: 46px;
    margin-top: 6px;
    border-bottom: 2px solid #4bae00;
    @include clearfix();
    h3{   
        float: left;   
        font-size: 20px; 
    }
    span{
        margin-left: 20px;
        width: 216px;
        height: 18px;
        line-height: 18px;
        float: left;
        padding: 12px 0;
        
    }
}
.foolr{
    margin-top: 14px;
    @include clearfix();
}
.foolr_l{       //左边
    width: 242px;
    h3{
        position: relative;
        height: 38px;
        padding-left: 15px;
        font-weight: normal;
        font-size: 20px;
        line-height: 38px;
        color: #88A9E2
        i{
            position: absolute;
            left: 0;
            top: 8px;
            width: 5px;
            height: 20px;
        }
    }        
}
.content{
    background: #a1c0f6;
    position: relative;
    padding-top: 50px;
    span{
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 56px;
        height: 20px;
        padding: 10px 0 34px 8px;
        line-height: 20px;
        font-size: 18px;
        color: $bg_white_color;
        font-weight: bold;
        background: url(../img/floor_icon.png) no-repeat 0 0;
        cursor: pointer;   
    }
    ul{
        width: 200px;
        height: 110px;
        padding-bottom: 9px;
        margin-left: 21px;
        background: url(../img/bd.png) no-repeat bottom center;
        li{
            position: relative;
            float: left;
            width: 75px;
            height: 36px;
            padding-left: 25px;
            font-size: 14px;
            line-height: 36px;
            overflow: hidden;
            i{
                position: absolute;
                top: 7px;
                left: 0;
                display: block;
                width: 22px;
                height: 22px;
            }
            a{
                color: #5e7090;
            }
            a:hover{
                color: #1d232d;
                text-decoration: underline;
            }
        }
    }
    div a img{
        display: block;
    }
}
.content_bottom_2_2,.content_bottom_2_1{
    &>ul{
        @include clearfix();
         li{
            width: 241px;
            height: 250px;
            border-bottom: 1px solid $border_gray_color;
            border-right: 1px solid $border_gray_color;
            overflow: hidden;
            float: left;
            p {
                width: 240px;
                height: 190px;
                text-align: center;
                img{
                    position: relative;
                    left: 0;
                    width: 180px;
                    height: 180px;
                    margin: 0 auto;
                    margin-top: 6px;
                }
               
            }            
            span{
                width: 200px;
                height: 24px;
                font-size: 14px;
                line-height: 24px;
                color: $nav_section_blank_color;                
                margin-left: 20px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
            .price{
                display: block;
                margin-left: 20px;
                height: 26px;
                font-size: 18px;
                line-height: 26px;
                color: #dd0800;
                font-style: normal;
            } 
             
         }
    }   
    
}
a:hover{
        color: $font_hover_color;
        text-decoration: underline;
    }