@charset "utf-8"; //设置中文字符


.section_15{
    .wrapper{
        @include clearfix();
        .section_15_box{
            &:nth-of-type(1){
               .foolr_r{
                    width: 484px;   
                } 
            }
            
            &:nth-of-type(2){
                margin-top: 38px;
               .foolr_r{
                    width: 242px;   
                } 
            }
            float: left;
            .content_bottom_2_2{
                border-top: 1px solid #a1c0f6;
                display: block;
            }
            .conbot_15{               
                ul li{
                    float: none;
                }
            }
            
        }
    }
    
}
