@charset "utf-8";

$bg_white_color:#ffffff;
$bg_gray_color:#f5f5f5;

$font_hover_color:#8cb91e;
$font_color:#606060;

$header_red_color:#c30000;

$border_gray_color:#ededed;
$border_right_box_color:#dddddd;
$boder_details_color:#dcdcdc;

$nav_section_blank_color:#383838;
$foolr_color_border:#434343;

$input_notice_color:#aaaaaa;
$input_ccc_color:#cccccc;

$cart_border_color:#3a9901;
$cart_3c_color:#3c3c3c;
$details_red_color:#c40000;

